body {
    background-color: black;
    color: white;
}

h1 {
    color: dodgerblue;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.taskWrapper {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;
}

@media (max-width: 768px) {
    .col-4,
    .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
